 <div class="flex  d-flex text-center">
 <div class="card " style="width: 18rem;">
    <img src="https://w7.pngwing.com/pngs/585/178/png-transparent-system-administrator-computer-icons-user-others-business-web-browser-user-thumbnail.png" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
     <button class="btn btn-primary">Super Admin</button>
    </div>
  </div>
  <div class="card ms-5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNq-fhMeQRIAFfcfgPFaQDO8yTQ_SOW1-6raA_0HgiiKDJTV0TkDiojPT98h40g8T4FAk&usqp=CAU" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <button class="btn btn-primary" >Admin</button>
    </div>
  </div>
  <div class="card ms-5" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <button class="btn btn-primary">Admin User</button>
    </div>
  </div>
  </div>
